node_modules/
public
.tmp
.sass-cache
client/bower_components
dist
.DS_Store
.idea/
spacegate_script/dataToSend
spacegate_script/config.js
spacegate_script/*.crt
server/config/environment/index.js
server/config/environment/development.js
server/config/local.env.js
server/logs/*
devices.js
syncDevicesToServer.sh
syncToServer.sh
state.json
