node_modules/
public
.tmp
.sass-cache
client/bower_components
dist

.DS_Store
.idea/
spacegate_script/dataToSend
server/config/environment/index.js
server/config/devices.js
server/config/local.env.js
server/logs/*
syncDevicesToServer.sh
syncToServer.sh
state.json
