<!DOCTYPE html>
<html ng-app="status">
<head>
    <meta charset="utf-8">
    <title>MainFrame Stats</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/pages.css"/>
</head>
<body id="openStats">

<div id="headMenu" class="navbar navbar-static-top" ng-controller="NavMenuCtrl">
    <div class="navbar-inner">

        <button type="button" class="btn btn-navbar" ng-click="respButtonClick()" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="brand" href="//mainframe.io">MainFrame</a>

        <div class="nav-collapse collaps" ng-class="{in: data.open}" ng-style="data.navStyle">
            <ul class="nav">
                <li><a href="index.html">Status</a></li>
                <li class="active"><a href="stats.html">Öffnungsstatistiken</a></li>
                <li><a href="//poisk.mainframe.io">Poisk</a></li>
            </ul>
            <ul id="inprintLink" class="nav navbar-text pull-right">
                <li>
                    <a href="//www.kreativitaet-trifft-technik.de/impressum" class="navbar-link">Impressum</a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div id="pageContent" class="container">

    <div class="alert alert-error" ng-show="globalErrorMsg">
        <div ng-repeat="msg in globalErrorMsg">
            <strong>Error!</strong> {{msg}}
        </div>
    </div>

    <section id="graph">
        <h2>Graph!</h2>
        Wann hatte der Mainframe wie lange auf? Ihr könnt bis zum 23. Februar
        2012 zurück gucken!

        <div chart style="width: 100%; height: 550px"></div>
    </section>

    <section id="stats">
        <h2>Letzte Woche</h2>

        <p>Wie lange hatte der Mainframe im Durchschnitt auf? Heute nicht mitgezählt.</p>
        <weekly-stats></weekly-stats>
    </section>

</div>

<footer class="footer">
    <div class="container">
        KtT Spacestatus - <a href="//github.com/ktt-ol/spacestatus">//github.com/ktt-ol/spacestatus</a>
    </div>
</footer>

<script src="lib/angular/angular.min.js"></script>
<script src="lib/amcharts/amcharts.js"></script>
<script src="js/statsPage/app.js"></script>
<script src="js/NavMenuCtrl.js"></script>
<script src="js/statsPage/openTimeData.js"></script>
<script src="js/statsPage/chart.js"></script>
<script src="js/statsPage/weeklyStats.js"></script>
<script src="js/statsPage/timeUtils.js"></script>
</body>
</html>