<div ng-include="'app/common/navbar/navbar.html'"></div>

<div class="container-fluid page-status">

    <div class="row">
        <div class="col-sm-8 col-md-offset-1 col-md-7 ng-cloak">

            <h2>Status</h2>

            <div class="alert alert-warning" ng-if="connectionError">
                Ich habe die Verbindung zum Server verloren. :( <br/>
                Aber ich versuche es gleich noch einmal!
            </div>

            <div class="alert alert-warning" ng-if="startupError">
                <strong>Keine Verbindung</strong>
                Ich konnte keine Verbindung zum Server herstellen.
                <div class="https-hint" ng-if="isHttp">
                    <strong>Tipp:</strong> Häufig hilft ein <a ng-href="{{::getHttpsUrl()}}">Wechsel auf https</a>
                </div>
            </div>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Mainframe Status [ <a href="//mainframe.io">Homepage</a> ]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letzte Änderung</td>
                    <td>{{spaceOpen.lastUpdate}}</td>
                </tr>
                <tr ng-class="spaceOpen.style">
                    <td>Status</td>
                    <td>{{spaceOpen.status}}</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="/openStats">Langfristige Statistiken</a></td>
                </tr>
                <tr ng-class="mqtt.spaceBrokerOnline ? '' : 'danger'">
                    <td>Internet*</td>
                    <td ng-if="mqtt.spaceBrokerOnline">Läuft</td>
                    <td ng-if="!mqtt.spaceBrokerOnline">Offline!</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Radstelle Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letzte Änderung</td>
                    <td>{{radstelleOpen.lastUpdate}}</td>
                </tr>
                <tr ng-class="radstelleOpen.style">
                    <td>Status</td>
                    <td>{{radstelleOpen.status}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">3DLab Status</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letzte Änderung</td>
                    <td>{{lab3dOpen.lastUpdate}}</td>
                </tr>
                <tr ng-class="lab3dOpen.style">
                    <td>Status</td>
                    <td>{{lab3dOpen.status}}</td>
                </tr>
                </tbody>
            </table>


            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Leute im Space</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="mqtt.connected ? '' : 'danger'">
                    <td>Letzte Änderung</td>
                    <td ng-if="mqtt.connected">{{spaceDevices.lastUpdate}}</td>
                    <td ng-if="!mqtt.connected">Keine Verbindung!</td>
                </tr>
                <tr>
                    <td>
                        Wer ist da<br>
                        (Orte:
                        <span class="location Space loc-legend">Space</span>
                        <span class="location Radstelle loc-legend">Radstelle</span>
                        <span class="location Fräse loc-legend">Fräse</span>)

                    </td>
                    <td ng-if="mqtt.connected">
                        <div class="person-list">
                            <span class="person" ng-repeat="p in spaceDevices.who" ng-class="'key-' + p.key">
                                <person p="p"></person>
                            </span>
                        </div>
                        <span ng-if="spaceDevices.who.length === 0">Keiner sichtbar</span>
                    </td>
                    <td ng-if="!mqtt.connected">
                        -
                    </td>
                </tr>
                <tr>
                    <td>+ anonyme Personen </td>
                    <td>{{ mqtt.connected ? spaceDevices.anonPeople : '-'}}</td>
                </tr>
                <tr>
                    <td>+ unbekannte Geräte</td>
                    <td>{{ mqtt.connected ? spaceDevices.devices : '-'}}</td>
                </tr>
                </tbody>
            </table>

            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">
                        Stromverbrauch [ <a href="https://grafana.mainframe.io/dashboard/db/energy">Live/Detail stats</a> ]
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letzte Änderung</td>
                    <td>{{energyFront.lastUpdate}}</td>
                </tr>
                <tr>
                    <td>Vorne</td>
                    <td>{{energyFront.value}} W</td>
                </tr>
                <tr>
                    <td>Letzte Änderung</td>
                    <td>{{energyBack.lastUpdate}}</td>
                </tr>
                <tr>
                    <td>Hinten</td>
                    <td>{{energyBack.value}} W</td>
                </tr>
                </tbody>
            </table>

            <!--
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Freifunk [ <a href="http://netmon.freifunk-ol.de/routerlist.php">RouterList</a> ]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letztes Update</td>
                    <td>{{ freifunk.lastUpdate }}</td>
                </tr>
                <tr>
                    <td>Verbindungen</td>
                    <td>{{ freifunk.client_count }}</td>
                </tr>
                </tbody>
            </table>
            -->

            <!--
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th colspan="2">Wetter</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Letztes Update</td>
                    <td>{{ weather.lastUpdate }}</td>
                </tr>
                <tr>
                    <td>Drinnen</td>
                    <td>{{ weather.Tin }}° {{ weather.Hin }}%</td>
                </tr>
                <tr>
                    <td>Draußen</td>
                    <td>{{ weather.Tout }}° {{ weather.Hout }}%</td>
                </tr>
                <tr>
                    <td>Wind</td>
                    <td>{{ weather.Wd }} @ {{ weather.Ws }} m/s // Böen: {{ weather.Wg }} m/s</td>
                </tr>
                <tr>
                    <td>Luftdruck</td>
                    <td>{{ weather.P }} hPa</td>
                </tr>
                <tr>
                    <td>Regen</td>
                    <td>{{ weather.R }}</td>
                </tr>
                </tbody>
            </table>
            -->

            <div class="status-legend">* Wir prüfen hier nur, ob der MQTT Server auf spacegate verfügbar ist. Das korreliert normalerweise sehr gut mit dem Internetstatus.</div>
        </div>
        <div class="col-sm-4 sidebar">
            <ul class="list-unstyled">
                <li><a href="//mainframe.io" id="mainframeLogo"><img src="assets/static/logo.png" alt="Mainframe"/></a></li>
                <li><a href="//ktt-ol.de" id="fabolabLogo"><img src="assets/images/fab-o-lab.png" alt="Fab-O-Lab"/></a><br/></li>
                <li><a href="/api/spaceInfo">spaceInfo</a> (<a href="http://spaceapi.net/">Space API</a>)<br/></li>
                <li><a href="https://twitter.com/#!/HackspaceOL">@HackspaceOL</a></li>
                <li><a href="https://twitter.com/#!/KtT_OL">@KtT_OL</a></li>
                <li><a href="xmpp://mainframe@jabber.ccc.de">mainframe@jabber.ccc.de</a></li>
            </ul>
        </div>
    </div>
</div>

<div ng-include="'app/common/footer/footer.html'"></div>
