.page-status {

  #mainframeLogo img,
  #fabolabLogo img {
    margin-top: 10px;
    margin-bottom: 20px;
  }

  td:first-child {
    width: 312px;
  }

  .person:after {
    content: " • ";
    font-size: 30px;
    vertical-align: middle;
    line-height: 20px;
  }

  .person:last-child:after {
    content: "";
  }


  $loc-space: #008000;
  $loc_radstelle: #9696fd;
  $loc-fraese: #fdca96;


  .location {
    &.Space {
      color: $loc-space;
    }
    &.Radstelle {
      color: $loc-radstelle;
    }
    &.Fräse {
      color: $loc-fraese;
    }
  }

  .location:after {
    content: ", ";
  }

  .location:last-child:after {
    content: "";
  }

  .key-true .name {
    background: url('../images/witchlines_Simple_key_30.png') right center no-repeat;
    padding-right: 34px;
    text-decoration: underline;
  }

  @media (max-width: 600px) {
    td:first-child {
      width: 175px;
    }
  }


  .sidebar {
    text-align: center;
  }

}

.status-legend {
  font-size: 12px;
}
