/*!
 Custom styles.
*/

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
  font-size: 16px;
}

#headMenu .brand {
  margin-left: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#inprintLink {
  margin-right: 30px;
}

.container {
  width: 95%;
}

section {
  margin-bottom: 45px;
}

footer {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background-color: #fff;
}

/* page specific styles */

#status #mainframeLogo img,
#status #fabolabLogo img {
  margin-top: 10px;
  margin-bottom: 20px;
}

#status td:first-child {
  width: 312px;
}

#status .person:after {
  content: " • ";
  font-size: 30px;
  vertical-align: bottom;
}

#status .person:last-child:after {
  content: "";
}

#status .key-true .name {
  background: url('../images/witchlines_Simple_key_30.png') right center no-repeat;
  padding-right: 34px;
  text-decoration: underline;
}

@media (max-width: 600px) {
  #status td:first-child {
    width: 175px;
  }
}
